APP_NAME=External Services
ENV=development
DEBUG=True

# Email Settings
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password

# Payment API Keys
STRIPE_API_KEY=your_stripe_api_key
PAGBANK_API_KEY=your_pagbank_api_key
PAYPALL_API_KEY=your_paypal_api_key

# API Key
API_KEY=mocked_api_key
API_KEY_NAME=X-API-Key